.box div.t0
{
  border: 2px solid #FF0000;
  display: none;
  opacity: 0;
}
.box div.t1
{
  border: 2px solid #FF3F00;
  display: none;
  opacity: 0;
}
.box div.t2
{
  border: 2px solid #FF7F00;
  display: none;
  opacity: 0;
}
.box div.t3
{
  border: 2px solid #FFBF00;
  display: none;
  opacity: 0;
}
.box div.t4
{
  border: 2px solid #FFFF00;
  display: none;
  opacity: 0;
}
.box div.t5
{
  border: 2px solid #BFFF00;
  display: none;
  opacity: 0;
}
.box div.t6
{
  border: 2px solid #7FFF00;
  display: none;
  opacity: 0;
}
.box div.t7
{
  border: 2px solid #3FFF00;
  display: none;
  opacity: 0;
}
.box div.t8
{
  border: 2px solid #00FF00;
  display: none;
  opacity: 0;
}
.box div.t9
{
  border: 2px solid #00FF3F;
  display: none;
  opacity: 0;
}
.box div.t10
{
  border: 2px solid #00FF7F;
  display: none;
  opacity: 0;
}
.box div.t11
{
  border: 2px solid #00FFBF;
  display: none;
  opacity: 0;
}
.box div.t12
{
  border: 2px solid #00FFFF;
  display: none;
  opacity: 0;
}
.box div.t13
{
  border: 2px solid #00BFFF;
  display: none;
  opacity: 0;
}
.box div.t14
{
  border: 2px solid #007FFF;
  display: none;
  opacity: 0;
}
.box div.t15
{
  border: 2px solid #003FFF;
  display: none;
  opacity: 0;
}
.box div.t16
{
  border: 2px solid #0000FF;
  display: none;
  opacity: 0;
}
.box div.t17
{
  border: 2px solid #3F00FF;
  display: none;
  opacity: 0;
}
.box div.t18
{
  border: 2px solid #7F00FF;
  display: none;
  opacity: 0;
}
.box div.t19
{
  border: 2px solid #BF00FF;
  display: none;
  opacity: 0;
}
.box div.t20
{
  border: 2px solid #FF00FF;
  display: none;
  opacity: 0;
}
.box div.t21
{
  border: 2px solid #FF00BF;
  display: none;
  opacity: 0;
}
.box div.t22
{
  border: 2px solid #FF007F;
  display: none;
  opacity: 0;
}
.box div.t23
{
  border: 2px solid #FF003F;
  display: none;
  opacity: 0;
}
