.box div.t0
{
  border: 2px solid #FF0000;
  display: none;
  opacity: 0;
}
.box div.t1
{
  border: 2px solid #FF4200;
  display: none;
  opacity: 0;
}
.box div.t2
{
  border: 2px solid #FF8500;
  display: none;
  opacity: 0;
}
.box div.t3
{
  border: 2px solid #FFC700;
  display: none;
  opacity: 0;
}
.box div.t4
{
  border: 2px solid #F3FF00;
  display: none;
  opacity: 0;
}
.box div.t5
{
  border: 2px solid #B1FF00;
  display: none;
  opacity: 0;
}
.box div.t6
{
  border: 2px solid #6EFF00;
  display: none;
  opacity: 0;
}
.box div.t7
{
  border: 2px solid #2CFF00;
  display: none;
  opacity: 0;
}
.box div.t8
{
  border: 2px solid #00FF16;
  display: none;
  opacity: 0;
}
.box div.t9
{
  border: 2px solid #00FF58;
  display: none;
  opacity: 0;
}
.box div.t10
{
  border: 2px solid #00FF9B;
  display: none;
  opacity: 0;
}
.box div.t11
{
  border: 2px solid #00FFDD;
  display: none;
  opacity: 0;
}
.box div.t12
{
  border: 2px solid #00DDFF;
  display: none;
  opacity: 0;
}
.box div.t13
{
  border: 2px solid #009BFF;
  display: none;
  opacity: 0;
}
.box div.t14
{
  border: 2px solid #0058FF;
  display: none;
  opacity: 0;
}
.box div.t15
{
  border: 2px solid #0016FF;
  display: none;
  opacity: 0;
}
.box div.t16
{
  border: 2px solid #2C00FF;
  display: none;
  opacity: 0;
}
.box div.t17
{
  border: 2px solid #6E00FF;
  display: none;
  opacity: 0;
}
.box div.t18
{
  border: 2px solid #B100FF;
  display: none;
  opacity: 0;
}
.box div.t19
{
  border: 2px solid #F300FF;
  display: none;
  opacity: 0;
}
.box div.t20
{
  border: 2px solid #FF00C7;
  display: none;
  opacity: 0;
}
.box div.t21
{
  border: 2px solid #FF0085;
  display: none;
  opacity: 0;
}
.box div.t22
{
  border: 2px solid #FF0042;
  display: none;
  opacity: 0;
}
