.t0
{
  border: 2px solid #FF0000;
}
.t1
{
  border: 2px solid #FF3300;
}
.t2
{
  border: 2px solid #FF6600;
}
.t3
{
  border: 2px solid #FF9900;
}
.t4
{
  border: 2px solid #FFCC00;
}
.t5
{
  border: 2px solid #FFFF00;
}
.t6
{
  border: 2px solid #CBFF00;
}
.t7
{
  border: 2px solid #99FF00;
}
.t8
{
  border: 2px solid #65FF00;
}
.t9
{
  border: 2px solid #33FF00;
}
.t10
{
  border: 2px solid #00FF00;
}
.t11
{
  border: 2px solid #00FF32;
}
.t12
{
  border: 2px solid #00FF66;
}
.t13
{
  border: 2px solid #00FF99;
}
.t14
{
  border: 2px solid #00FFCB;
}
.t15
{
  border: 2px solid #00FFFF;
}
.t16
{
  border: 2px solid #00CBFF;
}
.t17
{
  border: 2px solid #0099FF;
}
.t18
{
  border: 2px solid #0066FF;
}
.t19
{
  border: 2px solid #0033FF;
}
.t20
{
  border: 2px solid #0000FF;
}
.t21
{
  border: 2px solid #3200FF;
}
.t22
{
  border: 2px solid #6500FF;
}
.t23
{
  border: 2px solid #9900FF;
}
.t24
{
  border: 2px solid #CC00FF;
}
