/* body {
  overflow: hidden;
} */

.row {
  height: calc(100% - 70px);
}

.row::after {
  content: "";
  clear: both;
  display: block;
}


.col-menu {
  background: white;
  font-size: smaller;
  float: right;
  width: 25%;
  min-width: 300px;
  height: 100%;
  overflow-y: scroll;
  padding-top: 10px;
  padding-left: 25px;
}

.menu-collapsed {
  width: 0px !important;
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .col-menu {
    position: absolute;
    right: 0;
    top: 56;
    width: 300px;
    height: calc(100% - 70px);
    z-index: 100;
    box-shadow: -8px 0px 27px 0px rgba(0, 0, 0, 0.46)
  }


  /* .box {
    overflow-y: auto !important;
    height: auto !important;
  } */
}

.hidden {
  display: none;
  opacity: 0;
  height: 0;
}

.displayblock {
  display: block;
}

.expanded {
  height: 100%;
}

.opacity1 {
  opacity: 1;
  /*margin-top: 0 !important;*/
}

.top {
  z-order: 1000;
}

span.itemtitle {
  font-weight: bold;
  word-break: break-all;
  display: list-item;
  list-style-type: none;
  margin-left: 25px;
}

span.itembody {
  line-height: 24px;
}

span.entity {
  background: #ddf;
  padding: 2px;
  margin: 1px;
  border-radius: 5px;
  white-space: nowrap;

  transition: all 0.25s ease-in-out;
}

.entity_hidden {
  display: none
}

.entity_active {
  background: black !important;
  color: white;
}

span.entity:hover {
  background: #33f;
  color: white;
}

.container {}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  content-visibility: auto;
}

.event {
  float: left;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 15px 15px 15px;
  margin: 2px;
  width: calc(75% - 70px);

  border-right: 25px !important;
  border-left: 25px !important;

  transition: all 0.5s ease-in-out;
}

.issueToggle {
  width: 90%;
  margin: 15px 5% 3px 5%;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
}

.dateMarker {
  width: 15%;
  border: 0px;
  text-align: right;
  font-weight: bolder;
  padding: 30px 20px 0px 20px;
}

.event_highlight {
  border-width: 5px !important;
  border-radius: 25px;
  /*margin: 5px;*/
  box-shadow: rgb(170 170 170) 5px 5px 10px 0px;
  /*padding: 40px 15px 20px 15px;*/
}

.itemrow {
  transition: all 0.5s ease-in-out;
}

.itemrow_highlight {
  background: #e0dee9;
  padding: 1px;
  margin: 1px;
}

.itemdate {
  float: left;
  width: 15%;
  border: 0px;
  text-align: right;
  font-size: smaller;
  padding: 30px 20px 0px 20px;
}

.box div.itemsubtitle {
  /*width: 400px;*/
  text-align: right;
  font-size: 10px;
  position: relative;
  float: right;
  padding: 0px;
  margin-left: 0px;
  margin-top: -25px;
}

summary {
  font-weight: bolder;
  margin: 5px;
  margin-left: -20px;
  padding-top: 5px;
}

details {
  margin-left: 20px;
}


.entityhint {
  margin-top: 5px;
  font-weight: bold;
}





/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  margin-bottom: 10px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}






/* scroll markers */

.scroll-marker {
  float: right;
  height: 100%;
  width: 12px;
  pointer-events: none;
  top: 0;
  right: 13px;
  position: relative;
  z-index: 1;
}

.scroll-marker span {
  /* markers */
  position: absolute;
  width: 16px;
  background-color: #8383bab8;
  border-radius: 3px;
}




/* slider switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  top: -4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #19c477;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





/* scrollbars */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}