body {
  background: #f2f0ff;
  margin: 0px;
  overflow: hidden;
  font-family: 'Quicksand',Helvetica,Century Gothic,sans-serif !important;
} 

.row {
  height: calc(100% - 70px);
}

.row::after {
  content: "";
  clear: both;
  display: block;
}


.col-menu {
  background: white;
  font-size: smaller;
  float: right;
  width: 25%;
  min-width: 300px;
  height: 100%;
  overflow-y: scroll;
  padding-top: 10px;
  padding-left: 25px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.menu-collapsed {
  width: 0px !important;
  min-width: 0px !important;
  margin: 0px;
  padding: 0px;
  background: none;
  display: none;
}

.menufooter {
  position: absolute;
  bottom: 26px;
  right: 16px;
}

.spacer {
  height: 64px;
}

button {
  font-family: 'Quicksand',Helvetica,Century Gothic,sans-serif !important;
}

.blockbtn {
  border: none;
  border-radius: 8px;
  background-color: #2196F3;
  color: white;
  font-weight: 700 !important;
  padding: 10px;
  box-shadow: 1px 1px 0px rgb(0 0 0 / 20%);
  text-decoration: none !important;
  margin: 2px;
}

.blockbtn img {
  position: relative;
  top: 4px;
  max-width: 24px;
  max-height: 18px;
  margin-right: 3px;
}

.blockbtn a {
  text-decoration: none !important;
}

.blockbtn:hover {
	opacity: .85;
	color: #f5f5f5 !important;
	text-decoration: none !important
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .col-menu {
    position: absolute;
    right: 0;
    width: 300px;
    height: calc(100% - 70px);
    z-index: 100;
    box-shadow: -3px 10px 8px 0px rgb(0 0 0 / 50%);
  }


  /* .box {
    overflow-y: auto !important;
    height: auto !important;
  } */
}

.hidden {
  display: none;
  opacity: 0;
  height: 0;
}

.displayblock {
  display: block;
}

.expanded {
  height: 100%;
}

.opacity1 {
  opacity: 1;
  /*margin-top: 0 !important;*/
}

.top {
  z-order: 1000;
}

span.itemtitle {
  font-weight: bold;
  display: list-item;
  list-style-type: none;
  margin-left: 25px;
}

span.itembody {
  line-height: 24px;
}

span.entity {
  background: #ddf;
  padding: 2px;
  margin: 1px;
  border-radius: 5px;
  white-space: nowrap;

  transition: all 0.25s ease-in-out;
}

.entity_hidden {
  display: none
}

.entity_active {
  background: black !important;
  color: white;
}

span.entity:hover {
  background: #33f;
  color: white;
}

.container {}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: overlay;
  content-visibility: auto;
}

.event {
  float: left;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 15px 15px 15px;
  margin: 4px;
  width: calc(75% - 70px);

  border-right: 25px !important;
  border-left: 25px !important;

  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 50%);

  transition: all 0.25s ease-in-out;
}

.issueToggle {
  width: 90%;
  margin: 15px 5% 3px 5%;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  background: #e5e1f9;
}

.dateMarker {
  width: 15%;
  border: 0px;
  text-align: right;
  font-weight: bolder;
  padding: 30px 20px 0px 20px;
}

.event_highlight {
  border-width: 5px !important;
  border-radius: 8px;
  margin: 8px;
  box-shadow: 5px 5px 8px 4px rgb(0 0 0 / 50%);
}

.itemrow {
  transition: all 0.25s ease-in-out;
}

.itemrow_highlight {
  background: #e0dee9;
  padding: 0px;
  margin: 2px 8px 2px 8px;
  border-radius: 8px;
}

.itemdate {
  float: left;
  width: 15%;
  border: 0px;
  text-align: right;
  font-size: smaller;
  padding: 30px 20px 0px 20px;
}

.box div.itemsubtitle {
  /*width: 400px;*/
  text-align: right;
  font-size: 10px;
  position: relative;
  float: right;
  padding: 0px;
  margin-left: 0px;
  margin-top: -25px;
}

summary {
  font-weight: bolder;
  margin: 5px;
  margin-left: -20px;
  padding-top: 5px;
}

details {
  margin-left: 8px;
}


.entityhint {
  margin-top: 5px;
  font-weight: bold;
}





/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #664d7b;
  position: relative;
  margin-bottom: 10px;

  box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 50%);
}


/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topnav img {
  float: left;
  max-height: 40px;
  padding: 4px;
}

/* Style the hamburger menu */
.topnav a.icon {
  background-color: #664d7b;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a.icon:hover{
  background-color: #7a5c92;
}






/* scroll markers */

.scroll-marker {
  float: right;
  height: 100%;
  width: 12px;
  pointer-events: none;
  top: 0;
  right: 13px;
  position: relative;
}

.scroll-marker span {
  /* markers */
  position: absolute;
  width: 16px;
  background-color: #8383ba80;
  border-radius: 3px;
  min-height: 6px;
}




/* slider switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  top: -4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #19c477;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





/* scrollbars */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}